
@import url('https://fonts.googleapis.com/css2?family=Andika&family=IM+Fell+French+Canon&family=Raleway:ital,wght@0,700;0,800;1,300;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modalStyle .ant-modal-content {
  padding-bottom: 0px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.modalStyle .ant-modal-header {
  padding-left: 24px;
  padding-right: 24px;
}

.bold-placeholder .ant-picker-input > input::placeholder {
  font-weight: bold;
}

/* .custom-tab-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.custom-tab-title {
  font-weight: bold;
}

.custom-active-tab .ant-tabs-tab-btn {
  border-bottom: 4px solid #1890ff;
} */

.ant-tabs-ink-bar {
  height: 5px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #1890ff;
  border-color: #1890ff;
}